<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite de Pruebas">
  <test thread-count="5" name="Casos de Prueba Anotaciones">
    <classes>
      <class name="anotacionestestng.AnotacionesBasicas"/>
      <class name="anotacionestestng.SegundoSet">
      <methods>
      <exclude name="clicAl.*"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Casos de Prueba Anotaciones -->
</suite> <!-- Suite de Pruebas -->
